<footer>
    <div class="main-footer">
        <div class="fir-items">
            <p>
                Parachute® is a registered trademark of Parachute Home Inc. in the US and certain other jurisdictions.
            </p>                
            <h4>follow us</h4>
            <br>
            <a href="#">@parachutehome</a>
            <br>
            <div class="social-media-icons">
                <a href="#"><i class="fa fa-instagram insta"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest-p pinter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>                
        </div>
        <div class="sec-items">
            <ul class="list-items" id="help">
                <li class="head">help</li>
                <li class="body">
                    <ul class="ms-0 items">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Track Your Order</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Care</a></li>
                        <li><a href="#">Do Not Sell My Personal Information</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="thr-items">
            <ul class="list-items" id="company">
                <li class="head">Company</li>
                <li class="body">
                    <ul class="items">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Mentorship Program</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Trade</a></li>
                        <li><a href="#">Hospitality</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Brand Ambassador</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="for-items">
            <ul class="list-items" id="shop">
                <li class="head">Shop</li>
                <li class="body">
                    <ul class="items">
                        <li><a href="#">Digital Gift Card</a></li>
                        <li><a href="#">Swatches</a></li>
                        <li><a href="#">Stores</a></li>
                        <li><a href="#">Design Services</a></li>
                        <li><a href="#">The Instagram Shop</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="last-footer">
        <p>© Copyrights</p>
        <p>2023</p>
        <p>Privacy Policy</p>
        <p>Terms of Use</p>
    </div>
</footer>