<header class="position-relative fixed-top bg-white m-0 p-0 w-100">
    <div class="container bg-white m-0 p-2">
        <div class="main-head justify-content-lg-between justify-content-sm-center">
            <div class="main-text">
                Free Carbon Neutral Shipping | 60 Day Returns | 100 Day Mattress
            </div>
            <div class="main-items d-lg-flex d-sm-none">
                <ul class="main-list-items">
                    <li class="main-item aboutus active">About Us</li>
                    <li class="main-item sustainability">Sustainability</li>
                    <li class="main-item trade">Trade</li>
                    <li class="main-item design">Design Services</li>
                    <li class="main-item stores">Stores</li>
                    <li class="main-item blog">Blog</li>
                    <li class="main-item lang">
                        <select name="lang" id="language">
                            <option value="english" selected>US</option>
                            <option value="arabic">AR</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sec-head">
            <div class="logo">
                <a href="#">
                    <img src="../../../assets/imgs/logo/LOGO.svg" alt="" srcset="" />
                </a>
            </div>
            <div class="search-box d-lg-flex d-sm-none">
                <input type="search" name="searchparachute" placeholder="Search Parachute" />
                <img src="../../../assets/icons-/Vector.svg" alt="searchIcon" />
            </div>
            <div class="links-item">
                <div class="fav-icon">
                    <a href="#">
                        <img src="../../../assets/icons-/fi-rr-heart.svg" alt="heartIcon" />
                    </a>
                </div>
                <div class="user">
                    <a href="#">
                        <img src="../../../assets/icons-/fi-rr-user.svg" alt="user" />

                        <span>My Account</span>
                    </a>
                </div>
                <div class="shopping-cart-icon">
                    <a href="#">
                        <img src="../../../assets/icons-/fi-rr-shopping-cart.svg" alt="shoppingCartIcon" />
                        <span>Shopping Cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-offcanvas w-100">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- <a class="navbar-brand d-lg-none" href="#">Offcanvas navbar</a> -->
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                Offcanvas
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul
                                class="navbar-nav m-auto d-flex justify-content-between align-items-start align-items-lg-center mb-0 pb-0 text-capitalize">
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn text-capitalize"
                                        data-bs-toggle="dropdown" data-bs-target="bedding" aria-expanded="false"
                                        data-bs-auto-close="outside">
                                        Bedding
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100"
                                        id="bedding">
                                        <div class="row w-100 d-flex justify-content-between">
                                            <div class="col-lg-3 col-md-12 me-auto py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            FEATURED BEDDING
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">New Arrivals</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">most popular</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bundle savings</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="shop.html">all bedding</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-12 me-auto py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-12 m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            ABOUT OUR MATERIALS
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">organic cotton</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Percale</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">linen</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">brushed cotton</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">sateen</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">organic cloud cotton</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-12 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_3524.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn text-capitalize"
                                        data-bs-toggle="dropdown" data-bs-target="insert" aria-expanded="false"
                                        data-bs-auto-close="outside">
                                        Inserts
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100" id="insert">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_4893_nav_header.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn text-capitalize"
                                        data-bs-toggle="dropdown" data-bs-target="bath" aria-expanded="false"
                                        data-bs-auto-close="outside">
                                        bath
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100" id="bath">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_5098.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn" data-bs-toggle="dropdown"
                                        data-bs-target="robes" aria-expanded="false" data-bs-auto-close="outside">
                                        robes + Slippers
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100" id="robes">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_4369.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn" data-bs-toggle="dropdown"
                                        data-bs-target="furniture" aria-expanded="false" data-bs-auto-close="outside">
                                        furniture
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100"
                                        id="furniture">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_2195.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn" data-bs-toggle="dropdown"
                                        data-bs-target="decor" aria-expanded="false" data-bs-auto-close="outside">
                                        decor + living
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100" id="decor">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_1763__1_.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn" data-bs-toggle="dropdown"
                                        data-bs-target="featured" aria-expanded="false" data-bs-auto-close="outside">
                                        featured
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100"
                                        id="featured">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/221102_ParachuteHome_2023_Q1_0489.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <a href="#" type="button" class="btn nav-btn" data-bs-toggle="dropdown"
                                        data-bs-target="last" aria-expanded="false" data-bs-auto-close="outside">
                                        last chance
                                    </a>
                                    <div class="dropdown-menu m-0 border-0 bg-white h-auto px-5 py-0 w-100" id="last">
                                        <div class="row w-100 d-flex align-items-baseline justify-content-between">
                                            <div class="col-lg-auto m-auto mt-0 py-3 ps-1 bor-nav-list">
                                                <ul class="list-unstyled nav-list">
                                                    <li class="list-unstyled">
                                                        <h6 class="text-uppercase p-2 ps-0">
                                                            sheeting + top of bed
                                                        </h6>
                                                        <ul
                                                            class="list-unstyled list-group p-2 ps-0 me-5 border-0 fst-italic">
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">pillowcases + shams</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">fitted Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">top Sheets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">duvet covers</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">quilts + blankets</a>
                                                            </li>
                                                            <li
                                                                class="list-group-item p-2 ps-0 text-capitalize border-0">
                                                                <a class="nav-link" href="">bedding swaches</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 m-auto py-3">
                                                <img src="../../../assets/imgs/navbar/220719_JulyMini_2985__2_.jpg"
                                                    alt="" class="img-fluid" />
                                                <a href="#" class="text-decoration-none text-black">
                                                    <figure class="text-start">
                                                        <blockquote class="blockquote">
                                                            <p>
                                                                A well-known quote, contained in a blockquote
                                                                element.
                                                            </p>
                                                        </blockquote>
                                                        <figcaption class="blockquote-footer">
                                                            Someone famous in
                                                            <cite title="Source Title"> Source Title </cite>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="text-dark fs-4 w-100 d-lg-none">
                                    <hr />
                                </li>
                                <li class="nav-item mb-0 pb-0">
                                    <div class="navbar-nav d-lg-none d-flex justify-content-end nav-links fs-6 ps-3">
                                        <a class="nav-link" href="#">About Us</a>
                                        <a class="nav-link" href="#">Sustainability</a>
                                        <a class="nav-link" href="#">Trade</a>
                                        <a class="nav-link" href="#">Design Services</a>
                                        <a class="nav-link" href="#">Stores</a>
                                        <a class="nav-link" href="#">Blog</a>
                                        <div class="main-item lang">
                                            <select name="lang" id="language">
                                                <option value="english" selected>US</option>
                                                <option value="arabic">AR</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>