<section>
    <div class="about-ourProducts">
        <h2><span>Plush Perfection</span></h2>
        <div>
            <img src="assets/icons-/IMAGE.svg" width="90px" height="80px">
            <p>
                <span>See it in Person</span>
                <a href="#">find a store</a>
            </p>
        </div>
        <div>
            <img src="assets/icons-/Group.svg" width="90px" height="80px">
            <p>
                <span>Oeko-Tex certified</span>
                <a href="#">Learn more</a>
            </p>
        </div>
        <div>
            <img src="assets/icons-/Clip path group.svg" width="90px" height="80px">
            <p>
                <span>Climate Neutral <br> Shipping + Returns</span>
            </p>
        </div>
    </div>
</section>