<section class="learn-more">
    <div class="learn-more-icons">
        <div class="i-1">
            <img src="assets/icons-/learn-more/IMAGE.svg" alt="">
            <p>Climate + Earth</p>
        </div>
        <div class="i-2">
            <img src="assets/icons-/learn-more/IMAGE (1).svg" alt="">
            <p>Responsible Materials</p>
        </div>
        <div class="i-3">
            <img src="assets/icons-/learn-more/IMAGE (2).svg" alt="">
            <p>Diversity, Equity + Inclusion</p>
        </div>
        <div class="i-4">
            <img src="assets/icons-/learn-more/IMAGE (3).svg" alt="">
            <p>Ethical Manufacturing</p>
        </div>
    </div>
    <a href="#">learn more <span><i class="fa fa-arrow-right"></i></span></a>
</section>